.container {
    margin-top: 150px;
    color: #151515;
    border-radius: 16px;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: darkblue;
}