<footer class="footer">
    <div class="aled-footer">
        <img class="logo-img svg" src="assests/img/" height="65">
        <p>Copyrights 2020 All rights reserved</p>
    </div>
</footer>

<!--TO BE INCLUDED SOON IN ALL WINDOWS-->